<h1>
  <span style="color: blueviolet;"><strong>TEST: PIVOT-TABLE AND PIVOT-DIALOG</strong></span>
</h1>

<button mat-button (click)="showPivotDialog()">Pivot Dialog</button>

<ngm-dynamic-table #table  
  [defaultColumns]="[{n:'userId', h:'userId'}, {n:'id', h:'id'}, {n:'title', h:'title'}, {n:'body', h:'body'}]"
  [refService]="getService()"
></ngm-dynamic-table>

<!--
  <ngm-dynamic-table #table
  [defaultColumns]="[{n:'userId', h:'userId'}, {n:'id', h:'id'}, {n:'title', h:'title'}, {n:'body', h:'body'}]"
  [(dataOrigin)]="fakeData"
  [(metaCount)]="totalRecordsCount" 
  (pageEvent)="updatePagination($event)"
  (clickedItem) = "rowLick($event)"
></ngm-dynamic-table>

-->