
table {
  width: 100%;
}

.mat-table-virtual-wrapper {
  display: block;
}

tr.mat-footer-row {
  font-weight: bold;
}

.divforsticky {
  width: 100%;
  overflow: auto;
  /*
  min-width: 100%;
  min-width: 400px;
  min-height: 200px;    
  height: 100%;
  */
  //max-height: calc( 100vh - 60px); /* 60px  que en realidad son 56 es el Alto del MatPaginator*/
  height: 100%;
  display: flex;
  //flex-flow: column;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  min-width: 100px;
  max-width: 400px;
  padding-left: 8px;
}

.table-check-items {
  width: 36px !important;
  max-width: 36px !important;
  min-width: 36px !important;
}

.table-end-options {
  min-width: 4px !important;
  max-width: 4px !important;
  width: 4px !important;
  background-color:  #e0e0e0; // blueviolet;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.mat-table {
  overflow: auto;
  flex: 1;
  min-width: 100%;
  min-height: 200px;    
  max-height: calc( 100vh - 60px);
  //max-height: calc( 100% - 60px);
  //flex-grow: 1;
}

.mat-paginator-sticky {
  bottom: 0px;
  right: 10px;
  position: sticky;
  z-index: 10;
  max-height: 56px !important;
}



// LONGT Style
.mgm-table-longt {
  min-width: 300px !important;
  text-align: left;
}
.mgm-table-shortt {
  min-width: 170px !important;
  text-align: left;
}
.ngm-table-nums {
  min-width: 50px !important;
  text-align: right;
}
.ngm-table-numm , .ngm-table-dec {
  min-width: 70px !important;
  text-align: right;
}
.ngm-table-money {
  min-width: 70px !important;
}
.ngm-table-date {
  min-width: 50px !important;  
  text-align: right;
}
.ngm-table-time {
  min-width: 50px !important;  
  text-align: right;
}
.ngm-table-datetime {
  min-width: 90px !important;
  text-align: right;
}
.ngm-table-bool {
  min-width: 50px !important;  
  text-align: center !important;
}


