

<div class="divforsticky">

<!-- https://stackblitz.com/edit/materialtable?file=src%2Fapp%2Fapp.component.html -->

<table mat-table [dataSource]="dataSource" matSort  class="mat-table-virtual-wrapper">
    
    <!-- defColumns_Sticky -->
    <ng-container *ngFor="let col of defColumns_Sticky; let columnIndex = index" 
        matColumnDef="{{col.columnDef}}" sticky>
        <!-- TSEL: HEADER -->
      <ng-container *ngIf="col.ColumnType == 'TSEL'">
        <!--<mat-checkbox (change)="$event ? SelectAll() : null" [checked]="selectedItems.hasValue() && isAllSelected()" -->
          <th mat-header-cell *matHeaderCellDef class="table-check-items" sticky>
            <mat-checkbox 
              [checked]="selectedItems.hasValue() && isAllSelected()"
              (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,-1,-1,null); false"
              [indeterminate]="selectedItems.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
      </ng-container>
      <!-- TSEL: COLUMN -->
      <ng-container *ngIf="col.ColumnType == 'TSEL'">
        <!--(change)="$event && columnIndex === 1 ? selectedItems.toggle(row): null"-->
        <td mat-cell *matCellDef="let row; let rowIndex = index;" class="table-check-items" 
            (click)="$event.preventDefault(); $event.stopPropagation()">
          <mat-checkbox 
          (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,-1,row)"
            [checked]="selectedItems.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- TSEL: Fin de deinicion -->
    </ng-container>
    

    <!-- defColumns_StickyEnd -->
    <ng-container *ngFor="let col of defColumns_StickyEnd; let columnIndex = index" 
        matColumnDef="{{col.columnDef}}" stickyEnd>

      <!-- TEND -->
      <ng-container *ngIf="col.ColumnType == 'TEND'">
        <th mat-header-cell *matHeaderCellDef class="table-end-options">{{col.columnHeader}}</th>
        <td mat-cell *matCellDef="let row; let rowIndex = index;" class="table-end-options"
          (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
        >{{row[col.columnDef]}}</td>
      </ng-container>

    </ng-container>


    <ng-container *ngFor="let col of defColumns; let columnIndex = index" 
        matColumnDef="{{col.columnDef}}">
        <!-- GEN -->
        <ng-container *ngIf="col.ColumnType == 'GEN'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >{{col.columnHeader}}</th>
            <td mat-cell *matCellDef="let row; let rowIndex = index;"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{row[col.columnDef]}}</td>       
        </ng-container>
        <!-- LONGT -->
        <ng-container *ngIf="col.ColumnType == 'LONGT'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mgm-table-longt">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" class="mgm-table-longt"
          (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
          >{{row[col.columnDef]}}</td>       
        </ng-container>
        <!-- SHORTT -->
        <ng-container *ngIf="col.ColumnType == 'SHORTT'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="mgm-table-shortt">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" class="mgm-table-shortt"
          (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
          >{{row[col.columnDef]}}</td>       
        </ng-container>

        <!-- NUMS -->
        <ng-container *ngIf="col.ColumnType == 'NUMS'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-nums">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" 
            class="ngm-table-nums"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{row[col.columnDef] | number:'1.0-2' }}</td>       
        </ng-container>
        <!-- NUMM -->
        <ng-container *ngIf="col.ColumnType == 'NUMM'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-numm">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" 
            class="ngm-table-numm"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{row[col.columnDef] | number:'1.0-2' }}</td>       
        </ng-container>

        <!-- DEC -->
        <ng-container *ngIf="col.ColumnType == 'DEC'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-dec">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" 
            class="ngm-table-dec"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{row[col.columnDef] | number:'1.2-2' }}</td>       
        </ng-container>
        <!-- MONEY -->
        <ng-container *ngIf="col.ColumnType == 'MONEY'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-money">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" 
            class="ngm-table-money"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{row[col.columnDef] | currency:'ARS':'symbol' }}</td>       
        </ng-container>
        <!-- DATE -->
        <ng-container *ngIf="col.ColumnType == 'DATE'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-date">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" 
            class="ngm-table-date"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{row[col.columnDef] | date: 'dd/MM/yyyy' }}</td>       
        </ng-container>
        <!-- TIME -->
        <ng-container *ngIf="col.ColumnType == 'TIME'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-time">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" 
            class="ngm-table-time"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{row[col.columnDef] | date: 'mediumTime' }}</td>       
        </ng-container>
        <!-- DATTIME -->
        <ng-container *ngIf="col.ColumnType == 'DATTIME'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-datetime">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" 
            class="ngm-table-datetime"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{row[col.columnDef] | date: 'short' }}</td>       
        </ng-container>

        <!-- BOOL -->
        <ng-container *ngIf="col.ColumnType == 'BOOL'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-bool">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" 
            class="ngm-table-bool"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >{{ (row[col.columnDef] == true ? 'SI' : 'NO') }}</td>       
        </ng-container>


        <!-- BTN -->
        <ng-container *ngIf="col.ColumnType == 'BTN'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="ngm-table-btn">{{col.columnHeader}}</th>
          <td mat-cell *matCellDef="let row; let rowIndex = index;" class="ngm-table-btn">
            <button mat-raised-button color="primary"
            (click)="$event.preventDefault(); $event.stopPropagation(); onRowClick($event,rowIndex,columnIndex,row)"
            >
              {{ col.columnHeader }}
              <!--{{ row[col.columnDef] }}-->
            </button>            
          </td>       
        </ng-container>

        

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selectedItems.toggle(row)">
    </tr>

</table>

</div>

<mat-paginator 
  [pageSize]="25"
  class="mat-paginator-sticky"
  [pageSizeOptions]="[5, 10, 25, 100]" 
></mat-paginator>




